
.productWrapper {
    margin: 2.5rem auto 0 auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    max-width: 1512px;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }

.newCollection {
  display: flex;
  flex-direction: column;
  margin-left: 2.25rem;
}

.subTitle {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -1.05px;
  margin-left: 1rem;
}

.titleBlock {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.titleHashtag {
  font-size: 2.125rem;
  font-weight: 400;
}

.title {
  font-family: Yeseva One, serif;
  font-size: 2.2rem;
  letter-spacing: -2.52px;
  font-weight: 400;
}

.topPicksContainer {
  margin-top: 3.25rem;
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
}

.topPickCard {
  max-width: 428px;
  position: relative;
  background-color: #F5B266;
  z-index: -2;
  overflow: hidden;
}

.woodOverlay {
  position: absolute;
  z-index: -1;
  mix-blend-mode: color-burn;
}

.cardContent {
  padding: 1.625rem 2.75rem;
  
}

.toppickBanner {}

.toppickBannerText {}

.productImageBlock {}

.productImage {}

.productTable {}

.productTableRow {}

.productTableElement {}



.productTitle {}

.barcodeBlock {}

.barcodeCircle {}

.barcodeTitle {}

.barcode {}

.lineBreak {}

.productFooterBlock {}

.price {}

.favorites {}

.unlikedHeart {}

.likedHeart {}

.addToCart {}


.productsContainer {
  margin-top: 2.25rem;
  gap: 2.25rem;
}

.productCard {}