@import "../../styles/variables.scss";

.productWrapper {
    margin: 2.5rem auto 0 auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    max-width: 1512px;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
    color: #CF5C36;
  }

.newCollection {
  display: flex;
  flex-direction: column;
  margin-left: 2.25rem;
  color: #0C1713;
}

.subTitle {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -1.05px;
  margin-left: 1rem;
}

.titleBlock {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.titleHashtag {
  font-size: 2.125rem;
  font-weight: 400;
}

.title {
  font-family: Yeseva One, serif;
  font-size: 2.2rem;
  letter-spacing: -2.52px;
  font-weight: 400;
}

.topPicksContainer {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
}

.productsContainer {
  margin-top: 2.25rem;
  gap: 2.25rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: $extralarge) {
  .productWrapper {
    margin: 2.5rem auto 0 auto;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }

.newCollection {
  margin-left: 2.25rem;
}

.subTitle {
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: -1.05px;
  margin-left: 1rem;
}

.titleBlock {
}

.titleHashtag {
  font-size: 2rem;
  font-weight: 400;
}

.title {
  font-size: 2.1rem;
  letter-spacing: -2.52px;
  font-weight: 400;
}

.topPicksContainer {
  margin-top: 2.1rem;
  gap: 2.1rem;
}

.productsContainer {
  margin-top: 2.1rem;
  gap: 2.1rem;
}

}

@media (max-width: $large) {
  .productWrapper {
    margin: 1.8rem auto 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }

.newCollection {
  margin-left: 2.25rem;
}

.subTitle {
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: -1.05px;
  margin-left: 1rem;
}

.titleBlock {
}

.titleHashtag {
  font-size: 2rem;
  font-weight: 400;
}

.title {
  font-size: 2.1rem;
  letter-spacing: -2.52px;
  font-weight: 400;
}

.topPicksContainer {
  margin-top: 1.8rem;
  gap: 2.1rem;
}

.productsContainer {
  margin-top: 1.8rem;
  gap: 1.8rem;
}

}