
.productWrapper {
    margin-top: 2.5rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

.newCollection {}

.subTitle {}

.titleBlock {}

.titleHashtag {}

.title {}

.topPicksContainer {}

.topPickCard {}

.woodOverlay {}

.toppickBanner {}

.toppickBannerText {}

.productImageBlock {}

.productImage {}

.productTable {}

.productTitle {}

.barcodeBlock {}

.barcodeCircle {}

.barcodeTitle {}

.barcode {}

.lineBreak {}

.productFooterBlock {}

.price {}

.favorites {}

.unlikedHeart {}

.likedHeart {}

.addToCart {}