@import "../../../styles/variables.scss";

.productCard {
  max-width: 100%;
}

.woodOverlay {
  position: absolute;
  z-index: -2;
  mix-blend-mode: color-burn;
  min-width: 100%;
}

.woodOverlayMobile {
  display: none;
}

.toppickBanner {
  width: 8.5rem;
  height: 1.45rem;
  background-color: #cf5c36;
  rotate: -45deg;
  position: absolute;
  top: 1.3rem;
  left: -1.8rem;
}

.toppickBannerText {
  text-align: center;
  margin-left: -0.7rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.54px;
  margin-top: 0.23rem;
  color: #f5b266;
}

.productImageBlock {
  width: 274px;
  height: 183px;
  margin: 2.875rem auto;
  overflow: hidden;
}

.productImage {
  object-fit: cover;
}

.productTable {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #cf5c36;
}

.productTableColumn {
  display: flex;
  flex-direction: column;
  width: calc(50%);
}

.productTableElement {
  height: 3.45rem;
  border-top: 1px solid #cf5c36;
  padding: 0.75rem 0.6rem;

  h4 {
    font-family: "Bohemian Typewriter", sans-serif;
    font-size: 0.6875rem;
    font-weight: normal;
  }

  p {
    font-family: "Qwitcher Grypen", cursive;
    font-size: 2.2rem;
    margin-top: -0.6rem;
    margin-left: 1.3rem;
    text-align: center;
  }
}

.productTableColumn:first-child {
  border-right: 1px solid #cf5c36;
}

.productTitle {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-transform: uppercase;
}

.barcodeBlock {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  align-items: center;
}

.barcodeCircle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #cf5c36;
  position: relative;
}

.barcodeTitle {
  margin-top: -0.05rem;
  color: #f5b266;
  font-size: 0.875rem;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-weight: 600;
  letter-spacing: -0.49px;
  text-transform: uppercase;
}

.barcode {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.lineBreak {
  margin-top: 1.25rem;
  border-top: 1px solid #cf5c36;
}

.productFooterBlock {
  margin-top: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.56px;
}

.favandGet {
  display: flex;
  flex-direction: row;
  gap: 1.9rem;
  align-items: center;
}

.favorites {
  background-color: transparent;
}

.addToCart {
  background-color: #cf5c36;
  width: 75px;
  height: 27px;
  color: #f5b266;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.04px;
}

@media (max-width: $extralarge) {
  .productCard {
    padding: 1.325rem 2.25rem;
  }

  .productImageBlock {
    width: 240px;
    height: 160px;
    margin: 2.575rem auto;
    overflow: hidden;
  }

  .productTableElement {
    height: 4rem;
    padding: 0.75rem 0.5rem;
    line-height: 1rem;

    h4 {
      font-size: 0.6875rem;
    }

    p {
      font-size: 2rem;
      margin-top: 0rem;
      margin-left: 0rem;
      text-align: center;
    }
  }

  .productTitle {
    margin-top: 1.3rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.7px;
  }

  .barcodeBlock {
    margin-top: 1rem;
    gap: 1rem;
  }

  .barcodeCircle {
    width: 2.2rem;
    height: 2.2rem;
  }

  .barcodeTitle {
    margin-top: -0.05rem;
    font-size: 0.8rem;
    letter-spacing: -0.49px;
  }

  .barcode {
    font-size: 0.87rem;
    font-weight: 600;
    letter-spacing: 0.28px;
  }

  .lineBreak {
    margin-top: 1.25rem;
  }

  .productFooterBlock {
    margin-top: 1.1rem;
  }

  .price {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.56px;
  }

  .addToCart {
    width: 75px;
    height: 27px;
    font-size: 1rem;
    letter-spacing: 1.04px;
    padding-top: 0.2rem;
  }

  .favandGet {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;
  }

  .favorites {
    background-color: transparent;
  }

  .unlikedHeart {
    width: 60%;
  }

  .likedHeart {
    width: 60%;
  }
}

@media (max-width: $large) {
  .productCard {
    padding: 1.325rem 2.25rem;
  }

  .productImageBlock {
    width: 190px;
    height: 120px;
    margin: 2rem auto;
    overflow: hidden;
  }

  .productTableElement {
    height: 5rem;
    padding: 0.75rem 0.5rem;
    line-height: 1rem;
  }
  .favandGet {
    gap: 0.1rem;
  }
}

@media (max-width: $medium) {
  .productCard {
    max-width: 100%;
    position: relative;
    background-color: #f5b266;
    z-index: 1;
    overflow: hidden;
    padding: 2.75rem 2.75rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .woodOverlay {
    position: absolute;
    z-index: -2;
    mix-blend-mode: color-burn;
    min-width: 100%;
    object-fit: cover;
    background-repeat: round;
  }

  .productImageBlock {
    width: 300px;
    height: 300px;
    margin: auto auto;
    overflow: hidden;
  }

  .productImage {
    object-fit: cover;
  }

  .cardContentsMobile {
  }

  .productTable {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cf5c36;
  }

  .productTableColumn {
    display: flex;
    flex-direction: column;
    width: calc(50%);
  }

  .productTableElement {
    height: 3.45rem;
    border-top: 1px solid #cf5c36;
    padding: 0.75rem 0.6rem;

    h4 {
      font-family: "Bohemian Typewriter", sans-serif;
      font-size: 0.6875rem;
      font-weight: normal;
    }

    p {
      font-family: "Qwitcher Grypen", cursive;
      font-size: 2.2rem;
      margin-top: -0.6rem;
      margin-left: 1.3rem;
      text-align: center;
    }
  }

  .productTableColumn:first-child {
    border-right: 1px solid #cf5c36;
  }

  .productTitle {
    font-family: "Bohemian Typewriter", sans-serif;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.7px;
    text-transform: uppercase;
  }

  .barcodeBlock {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;
  }

  .barcodeCircle {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: #cf5c36;
    position: relative;
  }

  .barcodeTitle {
    margin-top: -0.05rem;
    color: #f5b266;
    font-size: 0.875rem;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-weight: 600;
    letter-spacing: -0.49px;
    text-transform: uppercase;
  }

  .barcode {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }

  .lineBreak {
    margin-top: 1.25rem;
    border-top: 1px solid #cf5c36;
  }

  .productFooterBlock {
    margin-top: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.56px;
  }

  .favandGet {
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
    align-items: center;
  }

  .favorites {
    background-color: transparent;
  }

  .addToCart {
    background-color: #cf5c36;
    width: 75px;
    height: 27px;
    color: #f5b266;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.04px;
  }
}

@media (max-width: $small) {
  .productCard {
    max-width: 428px;
    position: relative;
    background-color: #f5b266;
    z-index: 1;
    overflow: hidden;
    padding: 1.625rem 2.75rem;
    display: flex;
    flex-direction: column;
  }
  
  .woodOverlay {
    position: absolute;
    z-index: -2;
    mix-blend-mode: color-burn;
    min-width: 100%;
  }
  
  .woodOverlayMobile {
    display: none;
  }
  
  .toppickBanner {
    width: 8.5rem;
    height: 1.45rem;
    background-color: #cf5c36;
    rotate: -45deg;
    position: absolute;
    top: 1.3rem;
    left: -1.8rem;
  }
  
  .toppickBannerText {
    text-align: center;
    margin-left: -0.7rem;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.54px;
    margin-top: 0.23rem;
    color: #f5b266;
  }
  
  .productImageBlock {
    width: 274px;
    height: 183px;
    margin: 2.875rem auto;
    overflow: hidden;
  }
  
  .productImage {
    object-fit: cover;
  }
  
  .productTable {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cf5c36;
  }
  
  .productTableColumn {
    display: flex;
    flex-direction: column;
    width: calc(50%);
  }
  
  .productTableElement {
    height: 3.45rem;
    border-top: 1px solid #cf5c36;
    padding: 0.75rem 0.6rem;
  
    h4 {
      font-family: "Bohemian Typewriter", sans-serif;
      font-size: 0.6875rem;
      font-weight: normal;
    }
  
    p {
      font-family: "Qwitcher Grypen", cursive;
      font-size: 2.2rem;
      margin-top: -0.6rem;
      margin-left: 1.3rem;
      text-align: center;
    }
  }
  
  .productTableColumn:first-child {
    border-right: 1px solid #cf5c36;
  }
  
  .productTitle {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.7px;
    text-transform: uppercase;
  }
  
  .barcodeBlock {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;
  }
  
  .barcodeCircle {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: #cf5c36;
    position: relative;
  }
  
  .barcodeTitle {
    margin-top: -0.05rem;
    color: #f5b266;
    font-size: 0.875rem;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-weight: 600;
    letter-spacing: -0.49px;
    text-transform: uppercase;
  }
  
  .barcode {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }
  
  .lineBreak {
    margin-top: 1.25rem;
    border-top: 1px solid #cf5c36;
  }
  
  .productFooterBlock {
    margin-top: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.56px;
  }
  
  .favandGet {
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
    align-items: center;
  }
  
  .favorites {
    background-color: transparent;
  }
  
  .addToCart {
    background-color: #cf5c36;
    width: 75px;
    height: 27px;
    color: #f5b266;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.04px;
  }
}  