*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  color: #311111;
}

ul,
ol,
li,
ul::before,
ul::after,
li::before,
li::after {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  // background-color: #EDE2DB;
  background-color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}