@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Yeseva+One&display=swap");
.wrapperGlobal {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(245, 178, 102);
  //remove this later
  height: 100vh;
  color: #0c1713;
  z-index: -2;
  overflow: hidden;
  position: relative;

  h1 {
    font-family: "Yeseva One", cursive;
  }
}

// .bgImage {
//   opacity: 100%;
//   position: absolute;
//   z-index: -1;
//   mix-blend-mode: color-burn;
// }

.backgroundNoise {
    position: absolute;
    background-image: url("/content/backgroundnoise.png");
    background-repeat: repeat;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    mix-blend-mode: color-burn;
}

.wrapper {
    z-index: -1;
    max-width: 1512px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
}