@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Yeseva+One&display=swap");
@font-face {
  font-family: "Bohemian Typewriter";
  src: url("/fonts/Bohemian Typewriter") format("ttf");
  font-weight: normal;
  font-style: normal;
};
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@font-face {
  font-family: "YaldeviColombo-SemiBold";
  src: url("/fonts/YaldeviColombo-SemiBold") format("ttf");
  font-weight: normal;
  font-style: normal;
};
@import "../../styles/variables.scss";
.wrapperGlobal {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(245, 178, 102);
  color: #0c1713;
  z-index: 1;
  overflow: hidden;
  position: relative;

  h1 {
    font-family: "Yeseva One", cursive;
  }
}

.wrapperColorChange {
  position: absolute;
  width: 113px;
  height: 113px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 100;
  right: 9.6rem;
  top: 9.5rem;
}

// .wrapperColorChange:hover {
//   animation: bgchange 2s linear;
// }

@keyframes bgchange {
  0% {
    transform: scale(1);
    background-color: #cf5c36;
  }
  100% {
    transform: scale(100);
    background-color: #cf5c36;
    
  }
}

.backgroundNoise {
  position: absolute;
  background-image: url("/content/backgroundnoise.png");
  background-repeat: repeat;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: color-burn;
  overflow: hidden;
}


.heroImage {
  position: absolute;
  top: 7rem;
  left: 0;
  mix-blend-mode: multiply;
  width: 14.5%;
}

.lighterImage {
  position: absolute;
  top: 45.5rem;
  right: 0;
  mix-blend-mode: multiply;
  width: 17%;
}

.letterImage {
  position: absolute;
  top: 67rem;
  right: 0;
  mix-blend-mode: multiply;
  width: 19%;
}

.topPickAd {
  position: absolute;
  top: 37rem;
  right: 10rem;
}

.starImage {
  position: absolute;
  top: 55rem;
  right: 14rem;
  min-width: 17%;
}

.doorImage {
  position: absolute;
  bottom: 18rem;
  left: 0rem;
  width: 30%;
  mix-blend-mode: multiply;
}

.letterFooterImage {
  position: absolute;
  bottom: 18rem;
  left: 15rem;
  width: 30%;
  mix-blend-mode: multiply;
}

@media (max-width: $extralarge) {
  .heroImage {
    top: 7rem;
    left: 0;
    width: 13.5%;
  }

  .lighterImage {
    top: 39rem;
    width: 17%;
  }
  
  .letterImage {
    top: 55rem;
    width: 19%;
  }
  
  .starImage {
    top: 46rem;
    right: 12rem;
    min-width: 15%;
  }

  .doorImage {
    bottom: 18rem;
    left: 0rem;
    width: 32%;
  }
  
  .letterFooterImage {
    bottom: 18rem;
    left: 15rem;
    width: 32%;
  }
  
}

@media (max-width: $large) {
  .heroImage {
    top: 8rem;
    left: 0;
    width: 17%;
  }

  .lighterImage {
    top: 32rem;
    width: 17%;
  }
  
  .letterImage {
    top: 46rem;
    width: 19%;
  }
  
  .starImage {
    top: 35rem;
    right: 7rem;
    width: 22%;
  }

  .doorImage {
    bottom: 19rem;
    left: 0rem;
    width: 32%;
  }
  
  .letterFooterImage {
    bottom: 19rem;
    left: 15rem;
    width: 32%;
  }
}

@media (max-width: $medium) {
  .heroImage {
    top: 9.3rem;
    left: 0;
    width: 17%;
  }

  .lighterImage {
    top: 37rem;
    width: 17%;
  }
  
  .letterImage {
    top: 46rem;
    width: 19%;
  }
  
  .starImage {
    top: 35rem;
    right: 7rem;
    width: 22%;
  }

  .doorImage {
    bottom: 17rem;
    left: 0rem;
    width: 32%;
  }
  
  .letterFooterImage {
    bottom: 17rem;
    left: 11rem;
    width: 32%;
  }
}

@media (max-width: $small) {
  .heroImage {
    top: 6.5rem;
    left: 0;
    width: 23%;
  }

  .lighterImage {
    top: 30rem;
    width: 25%;
  }
  
  .letterImage {
    top: 44.5rem;
    width: 29%;
  }
  
  .starImage {
    top: 31rem;
    right: 7rem;
    width: 22%;
  }
  .doorImage {
    bottom: 19rem;
    left: 0rem;
    width: 42%;
  }
  
  .letterFooterImage {
    bottom: 18rem;
    left: 11rem;
    width: 32%;
  }
}