@import "../../styles/variables.scss";
.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5.56rem;
  align-items: center;
  z-index: 2;
  position: relative;
  margin: auto;
  overflow: hidden;

  max-width: 1512px;
  padding-left: 4.75rem;
  padding-right: 4.75rem;
  background-color: inherit;
}

.logoNav {
}

.navHeader {
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: -1.08px;
}

.mobileLinkCartFav {
  display: none;
}

.favouritesandCart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.125rem;
}

.favoritesImage {
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basketImage {
}

.cartDollarSign {
  margin-left: 1rem;
  font-size: 0.85rem;
}

.cartAmount {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.cartPrice {
  font-size: 1rem;
}

@media (max-width: $extralarge) {
  .navWrapper {
    height: 5rem;
  
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }
  
  .navHeader {
    font-size: 2.1rem;
  }
  
  .favouritesandCart {
    gap: 3rem;
  }
  
  .favoritesImage {
  }
    
  .basketImage {
  }
  
  .cartDollarSign {
    margin-left: 1rem;
    font-size: 0.85rem;
  }
  
  .cartPrice {
    font-size: 1rem;
  }
}

@media (max-width: $large) {
  .navWrapper {
    height: 4.7rem;
  
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
  
  .navHeader {
    font-size: 2rem;
    position: absolute;
    display: flex;
    top: 1.2rem;
  }
  
  .favouritesandCart {
    gap: 2.3rem;
  }
  
  .favoritesImage {
    width: 90%;
  }
    
  .basketImage {
    width: 90%;
  }
  
  .cartDollarSign {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  
  .cartPrice {
    font-size: 1.1rem;
  }
}

@media (max-width: $medium) {
  .navWrapper {
    height: 4.7rem;
  
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  
  .navHeader {
    font-size: 2rem;
    position: relative;
    display: flex;
    top: 0rem;
    margin-left: 7rem;
  }
  
  .favouritesandCart {
    gap: 2.3rem;
  }
  
  .favoritesImage {
    width: 90%;
  }
    
  .basketImage {
    width: 90%;
  }
  
  .cartDollarSign {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  
  .cartPrice {
    font-size: 1.1rem;
  }
}

@media (max-width: $small) {
  .navWrapper {
    height: 4.7rem;
  
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
  
  .navHeader {
    font-size: 1.8rem;
    margin-left: 0rem;
  }
  
  .favouritesandCart {
    display: none;
  }

  .mobileLinkCartFav {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: 32px;
    width: 38px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .mobileNavLine {
    width: 38px;
    border-top: 1px solid #0C1713;
  }
}