@import "../../styles/variables.scss";
.wrapperFooter {
  height: 33rem;
  z-index: 2;
  overflow: hidden;
  max-width: 1512px;
  margin: auto;
}

.quoteBlock {
  position: relative;
  width: 55%;
  margin: 0 auto;
  margin-top: 12rem;
  margin-left: 29rem;
}

.quoteText {
  font-size: 2.625rem;
  font-weight: 400;
  line-height: 121%; /* 50.82px */
  letter-spacing: -2.94px;
  text-align: center;
}

.quoteOpen {
  position: absolute;
  top: -4rem;
  left: -5rem;
}

.quoteClose {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

@media (max-width: $extralarge) {
  .wrapperFooter {
    height: 27rem;
  }

  .quoteBlock {
    position: relative;
    margin-top: 10rem;
    margin-left: 23rem;
  }

  .quoteText {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 121%; /* 50.82px */
    letter-spacing: -2.94px;
  }

  .quoteOpen {
    top: -4rem;
    left: -5rem;
    width: 9%;
  }

  .quoteClose {
    bottom: -2rem;
    right: -2rem;
    width: 9%;
  }
}

@media (max-width: $large) {
  .wrapperFooter {
    height: 27rem;
  }

  .quoteBlock {
    position: relative;
    margin-top: 10rem;
    margin-left: 20rem;
  }

  .quoteText {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 121%; /* 50.82px */
    letter-spacing: -2.94px;
  }

  .quoteOpen {
    top: -3rem;
    left: -3rem;
    width: 9%;
  }

  .quoteClose {
    bottom: -1rem;
    right: -1rem;
    width: 9%;
  }
}

@media (max-width: $medium) {
  .wrapperFooter {
    height: 20rem;
  }

  .quoteBlock {
    position: relative;
    margin-top: 7rem;
    margin-left: 15rem;
  }

  .quoteText {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 121%; /* 50.82px */
    letter-spacing: -2.94px;
  }

  .quoteOpen {
    top: -2.3rem;
    left: -2.3rem;
    width: 8%;
  }

  .quoteClose {
    bottom: -0.6rem;
    right: -0.6rem;
    width: 8%;
  }
}

@media (max-width: $small) {
  .wrapperFooter {
    height: 17rem;
  }

  .quoteBlock {
    position: relative;
    margin-top: 5rem;
    margin-left: 11rem;
  }

  .quoteText {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 121%; /* 50.82px */
    letter-spacing: -2.94px;
  }

  .quoteOpen {
    top: -1.3rem;
    left: -1.3rem;
    width: 8%;
  }

  .quoteClose {
    bottom: -1.6rem;
    right: -1.6rem;
    width: 8%;
  }
}

@media (max-width: $extrasmall) {
  .wrapperFooter {
    height: 17rem;
    width: 100%;
  }

  .quoteBlock {
    position: relative;
    margin-top: 4.2rem;
    margin-left: 4.3rem;
    width: 70%;
  }

  .quoteText {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 121%; /* 50.82px */
    letter-spacing: -2.94px;
  }

  .quoteOpen {
    top: -2.3rem;
    left: -2.3rem;
    width: 15%;
  }

  .quoteClose {
    bottom: -1.6rem;
    right: -1.6rem;
    width: 15%;
  }
}
